* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(13, 17, 23);
    background-image: url(imagens/pontos.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 560px;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
   
.logo {
    width: 55px;
    height: 25px;
    padding-left: 35px;
    padding-top: 2rem;
}
}
nav {
    margin-top: 2rem;
    align-items: center;
}
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 80px;
}
.triangulo1 {
    width: 300px;
    height: 300px;
}
main {
    display: flex;
}
.esquerda {
    width: 30%;
    padding-top: 10%;
}
.esquerda h1, h3 {
    padding-left: 1.5rem;
    padding-top: 2rem;
    color: white;
}
.esquerda h1 {
    font-size: 45px;
}
span {
    color: yellowgreen;
}
.btns {
    padding-top: 3rem;
    text-align: center;
}
.btn {
    background-color: yellowgreen;
    border-radius: 15px;
    height: 25px;
}

.homem {
    width: 550px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(29%);
    padding-left: 35%;
       
}